body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:  #5a417b;
}

h2 {
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
}

nav {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    background-color: #ffffff;
    justify-content: right;
    padding: 12px 20px;
    border-bottom: 7px solid #c5c5e6;
}

nav a {
    color: #5a5a62;
}

a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

footer a {
    color: #f25961;
}

footer {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    background-color: #94395a;
    justify-content: center;
    padding: 12px;
    border-top: 7px solid #41395a;
}

.head {
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    color: #ab86e7;
}

.head > h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.head > h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.profile {
    display: block;
    width: 200px; 
    height: 300px;
    border: solid 5px #f25961;
    border-radius: 100px;
    margin: 20px auto;
}

.description {
    color: #000000;
    background-color: #ffde08;
    padding: 15px;
    border: 3px solid#bd9c00;
}

hr {
    border: dashed 3px #d5b4ff;
}

.about {
    background-color: #ab86e7;
    color:#d5b4ff;
}

.about > h2 {
    text-align: center;
    font-size: xx-large;
    margin-top: 30px;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 40px;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    border: 3px solid #bd9c00;
    background-color: #ffde08;
    color: #000000;
    margin: 20px 10px 30px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card > img {
    border-bottom: 3px solid #bd9c00;
}

.about-item {
    padding: 0px 15px 10px 15px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.about-item a {
    color: #ab86e7;
    text-decoration: none;
}

form {
    margin: 10px;
}

.form-field {
    height:100%;
    width:100%;
}

.form-col {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
